.book-home {
    padding: 20px;
}

.book-carousel {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.book-list {
    display: flex;
    width: 100%;
}


.book-card {
    width: 20%;
    margin-right: 20px;
    position: relative; /* 순위 표시를 위해 relative 설정 */
}

/* book-card에서 width 제거 */
.book-card {
    /* width: 20%; */ /* 이 부분 제거 */
    position: relative;
    /* 나머지 스타일은 그대로 유지 */
}

.book-rank {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.book-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.book-info {
    text-align: center;
}

.book-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.book-writer {
    font-size: 14px;
    color: #666;
}

.prev-button,
.next-button {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 10px;
}
