.search-body {
    padding: 10px;
    font-family: Arial, sans-serif;
}

.search-section {
    display: flex; /* 섹션 제목과 더 보기 링크를 가로 정렬 */
    justify-content: space-between; /* 제목과 링크 간격 최대화 */
    align-items: center; /* 세로 중앙 정렬 */
    margin-bottom: 10px; /* 섹션 간 간격 */
}

.search-results {
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr)); /* 반응형 3열 그리드, 최소 크기 80px */
    gap: 10px;
    margin-bottom: 50px; /* 컴포넌트 하단 여백 */
}

.search-results.movies, .search-results.books {
    grid-template-columns: repeat(8, minmax(80px, 1fr));
}

.search-item {
    text-align: center;
}

.search-item img {
    width: 95%;
    height: auto;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

.search-item p {
    font-size: 0.7em; /* 제목 폰트 크기 조정 */
    line-height: 1.2;
    margin-top: 5px; /* 제목 위 여백 */

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.more-link-container {

    text-align: left; /* 더 보기 링크 오른쪽 정렬 */

    margin-bottom: 5px; /* 더 보기 링크 아래 여백 */
}

.more-link {
    color: #3c3c3c;
    font-size: 1.2em;
    text-decoration: none;
    white-space: nowrap; /* 줄바꿈 방지 */
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .search-results {
        grid-template-columns: repeat(3, minmax(60px, 1fr)); /* 최소 크기 60px */
    }

    .search-item p {
        font-size: 0.6em;
    }
}

@media (max-width: 480px) {
    .search-results {
        grid-template-columns: repeat(2, minmax(60px, 1fr)); /* 최소 크기 60px */
    }
}